<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Error</title>
    <style>
      html {
        scroll-behavior: smooth;
      }
      body {
        font-family: 'Oxygen', sans-serif;
      }

      /*---------- paddings ----------*/
      .padding {
        padding: 30px 50px 30px 50px;
      }
      .sidepadding {
        padding: 0 50px 0 50px;
      }
    </style>
  </head>
  
  <body>
    <div class="padding">
      <h1>Error!</h1>
      <h3> {{message}} </h3>
      <p> {{err}} </p>
    </div>
  </body>
</html>
