<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSME</title>
    <style>
    html {
        scroll-behavior: smooth;
      }

      /*---------- paddings ----------*/
      .padding {
        padding: 20px 50px 20px 50px;
      }

      .sidepadding {
        padding: 0 50px 0 50px;
      }
    </style>
  </head>
  <body>
    <div class="padding">
      <img src="https://i.ibb.co/wzN50R0/rsme-logo.jpg" alt="rsme-logo" border="0" width="80">
      <h1> Welcome to RSME. </h1>

      <!-- ! <button ><a href={{oauth}}> LinkedIn </a></button> -->
      <div>
        <a href={{oauth}}><img src="https://i.ibb.co/bBnsczc/linkedin.png" alt="linkedin" border="0" width="240" ></a>
      </div>
    </div>
  </body>
</html>
