<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
        <script>
            const showPDF = ()=> {
                document.getElementById("pdf").style.display = "";
            }
        </script>
    </head>
    <body>
        <h1>Success!</h1>
        <h2>User: {{user}}</h2>
        <p>
            Successfully binding <b>{{website}}</b>. <br>
            Please fill the form below.  <br>
        </p>
        <form action="/form" method="get">
          <div>
            <b>GitHub</b> User Name: <br>
            <input type="text" name="github"/>
          </div>
          <div>
            <button type="submit" onclick="showPDF()">submit</button>
          </div>
          <div id="pdf" style="display:none;"> 
          <br>
          <button><a href="/pdf" target="_blank"> PDF </a></button>
          <button><a href="/" target="_blank"> Return </a></button>
          </div>
        </form>
    </body>
</html>
