<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
    </head>
    <body>
        <h1>Success!</h1>
        <h2>User: {{user}}</h2>
        <p>
            Successfully binding <b>{{website}}</b> to your account. <br>
            Click the button below to return to main page. <br>
        </p>
        <button><a href="/"> Return </a></button>
    </body>
</html>
