@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

html {
  scroll-behavior: smooth;
}

/*---------- Navbar ----------*/
.navbar {
  padding: 6;
  position: fixed;
  width: 100%;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 16px !important;
}

/*---------- Footer ----------*/
.ft {
  margin-top: 48px;
  height: 300px;
  background-color: #000;
  color: #fff;
}

.ft ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.ft li {
  display: inline;
  margin-right: 40px;
}

.fa-linkedin, .fa-github, .fa-envelope{
  color: #a4a2a2;
}

.fa-linkedin:hover, .fa-github:hover, .fa-envelope:hover {
  color: #fff;
}

.links-bg {
  margin: auto;
  height: 86%;
}

.links {
  text-align: center;
  padding-top: 80px;
  margin-top: 30px;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: auto;
  padding: 0;
  color: #bbb9b9;
}

/*---------- Color Bars ----------*/
.bar {
    width: 100px;
    height: 6px;
    margin-bottom: 32px;
}

.purple {
  background-color: #d3869b;
}

.aqua {
  background-color: #8ec07c;
}

.yellow {
  background-color: #fadb2f;
}

.green {
  background-color: #b8bb26;
}

.blue {
  background-color: #83a598;
}

.orange {
  background-color: #fe8019;
}

/*---------- Media Queries----------*/
@media (max-width: 1200px){

}

@media (max-width: 992px) {
  
}

@media (max-width: 940px) {
  
}

@media (max-width: 700px) {
 
}

@media (max-width: 576px) {
  
}


@media (max-width: 534px) {
 
}


@media (max-width: 414px) {
  
}

/* [class*="col-"] {
    padding: 10px;
} */
